* {
    box-sizing: border-box;
}

body {
    font-family: "Karla";
    background-color: #1F2937;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: white;
    margin: 100px;
}

div {
    margin-bottom: 30px;
}

table {
    margin: auto;
}

.submit-btn {
    padding-top: 10px;
    padding-bottom: 10px;

    background: purple;
    color: white;
    width: 250px;
    font-size: 16px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

#title {
    line-height: 40px;
    letter-spacing: -0.025em;
}

span {
    color: green;
}

#input-box {
    background-color: whitesmoke;
    width: 170px;
    height: 40px;
}

.results-container {
    display: flex;
}

.result {
    text-align: center;
    margin: 20px auto 0px auto;
    width: 40%;
    font-size: 20px;
    background-color: darkslategrey;
    color: white;
}

p {
    text-align: center;
}



